/* General CSS Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* General CSS End */

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: #1e1f29;
  border-top: 3px solid red;
}

/* Footer Top Start */
.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 6%;
}

.footer-top .col {
  flex-basis: 25%;
  width: 100%;
  padding: 10px;
}

.footer-top .col .head-title h2 {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-bottom: 15px;
  position: relative;
  cursor: pointer;
}

.footer-top .col .head-title h2::after {
  content: "";
  width: 8%;
  height: 3px;
  background: #d10024;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: 0.5s;
}

.footer-top .col .head-title h2:hover::after {
  width: 20%;
}

.footer-top .col .content p {
  font-size: 14px;
  color: #8d99ae;
  padding: 5px 0;
}

.footer-top .col .content ul li {
  list-style: none;
  padding: 3px 0;
}

.footer-top .col .content ul li a {
  text-decoration: none;
  color: #8d99ae;
  font-size: 14px;
}

.footer-top .col .content ul li a:hover {
  color: #d10024;
}

.footer-top .col .content ul li a i {
  color: #d10024;
  margin-right: 5px;
}
/* Footer Top Start */

/* Footer Bottom Start */
.footer-bottom {
  background: #2b2d42;
  padding: 15px 6%;
  font-size: 16px;
  color: #8d99ae;
}

.footer-bottom .payment-method ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-bottom .payment-method li {
  list-style: none;
  margin: 0 5px;
  padding: 10px 0;
}

.footer-bottom .payment-method li i {
  font-size: 32px;
  color: #8d99ae;
  cursor: pointer;
  transition: transform 0.5s;
}

.footer-bottom .payment-method li i:hover {
  color: #d10024;
  transform: scale(1.1);
}

.footer-bottom .copyright p {
  text-align: center;
  font-size: 16px;
  padding-top: 10px;
}

.footer-bottom .copyright i {
  color: #d10024;
}

.footer-bottom .copyright a {
  color: #8d99ae;
  text-decoration: none;
}

.footer-bottom .copyright a:hover {
  color: #d10024;
}
/* Footer Bottom End*/

/* Device Responsive Start */
@media (max-width: 760px) {
  .footer-top .col {
    flex-basis: 50%;
  }
}

@media (max-width: 490px) {
  footer {
    position: unset;
  }
  .footer-top .col {
    flex-basis: 100%;
  }
}
/* Device Responsive End */
